html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background: #eaedf4;
}

body {
  display: block;       
  min-height: 100%;
 
}

#root {
  max-width: none;      
  padding: 0;           
  margin: 0;
  text-align: left;     
}
